nav.navbar, .navbar-default {
  background-color:blue;
}

.navbar-default {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:blue;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-brand {
  background-color: transparent;
  color: black;
}

.navbar-default .navbar-toggle {
  border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(95, 13, 20);
}

.navbar-default:hover .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #111;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: #111;
}